@page "/KasBank/Transaksi/TransDetail"

@using Magnajaya.Data
@using  Magnajaya.Services.Kasbank
@inject IJSRuntime jsRuntime
@inject ITransDetailService service
@using Magnajaya.Models

<div class="modal" tabindex="-1" role="dialog" id="taskModal">
    <div class="modal-dialog modal-lg" role="document" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@CustomHeader</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@TaskObject" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="row">

                        <div class="col-md-7">
                            <label for="docno">Dokumen No.</label>
                            <input type="hidden" @bind-value="@TaskObject.CbTransHId" />
                            <InputText disabled="@IsDisabled" id="docno" class="form-control" style="text-transform:uppercase" @bind-Value="@TaskObject.Docno" />
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-md-7">
                            <label for="bank">Bank</label>
                            <InputSelect id="bank" class="form-control" style="text-transform:uppercase" @bind-Value=@TaskObject.Kode>

                                @if (TaskBank != null)
                                {
                                    @foreach (var bank in TaskBank)
                                    {
                                        <option value=@bank.Kode>@bank.NmBank @bank.Kurs</option>
                                    }
                                }
                            </InputSelect>

                        </div>
                        <div class="col-md-5">

                            <label for="tanggal">Tanggal</label>
                            <InputDate id="tanggal" class="form-control" @bind-Value="@TaskObject.Tanggal" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <label for="keterangan">Catatan</label>
                            <InputTextArea id="keterangan" class="form-control" @bind-Value="@TaskObject.Keterangan" />

                        </div>

                    </div>
                    <div>
                        <br />
                    </div>
                    <div class="container" style="background-color:cornflowerblue">
                        <div class="row">
                            <div class="col-md-5">

                                <label for="srckode">Source Kode</label>
                                <InputSelect id="srckode" class="form-control" style="text-transform:uppercase" @bind-Value=@SrcKode>

                                    @if (TaskGroup != null)
                                    {
                                        @foreach (var group in TaskGroup)
                                        {
                                            <option value=@group.SrcCode>@group.NamaSrc</option>
                                        }
                                    }
                                </InputSelect>
                            </div>
                            <div class="col-md-7">

                                <label for="remark">Keterangan</label>
                                <InputText id="remark" class="form-control" @bind-Value=@remarks />


                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-4">

                                <label for="terima">Terima</label>
                                <InputNumber id="terima" class="form-control" @bind-Value=@Terima />


                            </div>
                            <div class="col-md-4">

                                <label for="bayar">Bayar</label>
                                <InputNumber id="bayar" class="form-control" @bind-Value=@Bayar />


                            </div>
                            <div class="col-md-4">
                                <label for="detail">Tombol</label>
                                <button id="detail" type="button" class="btn btn-danger form-control">Add Detail</button>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">

                                <label for="receipt">Receipt</label>
                                <InputNumber id="receipt" class="form-control" @bind-Value=@Receipt />


                            </div>
                            <div class="col-md-4">

                                <label for="payment">Payment</label>
                                <InputNumber id="payment" class="form-control" @bind-Value=@Payment />


                            </div>

                        </div>
                        <div class="row">
                            <br />
                        </div>
                    </div>
                    <div>
                        <br />
                    </div>
                    

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public CbTransH TaskObject { get; set; }

    [Parameter]
    public List<CbSrccd> TaskGroup { get; set; }

    [Parameter]
    public List<CbBank> TaskBank { get; set; }


    [Parameter]
    public Action DataChanged { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public RenderFragment CustomHeader { get; set; }


    private string CekDoc, remarks;
    private decimal Terima, Bayar, Payment, Receipt;
    private string SrcKode;


    private async Task CloseTaskModal()
    {
        await jsRuntime.InvokeAsync<object>("CloseModal", "taskModal");
    }

    private async void HandleValidSubmit()
    {
        if (TaskObject.CbTransHId == 0)
        {

            await service.Add(TaskObject);

        }
        else
        {
            await service.Update(TaskObject);
        }

        if (TaskObject.Keterangan == "No. Bukti sudah ada!!")
        {
            await jsRuntime.InvokeAsync<object>("CekKode", "No. Bukti sudah ada!!");
        }
        else
        {
            await CloseTaskModal();
            DataChanged?.Invoke();

        }
    }



}